<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="http://i.imgur.com/eXIXq4g.jpg" class="img-responsive thumbnail profile"/>
    </div>
    <div class="col-md-8">
      <h2> About me </h2>
      <p> I have always wanted to develop applications and I've finally decided to jump in head first. I am 100% self taught using a variety of online websites and books. My goal is that by March of 2017 I will be able to create web pages that excite customers and potential employers. </p>
      <p> At the moment, I am enlisted in the United States Navy as an Aviation Electronics Technician First Class. I have been in the Navy for nearly 14 years. I've served in two countries, on two aircraft carriers, and been a part of four commands.</p>
      <p> I have a beautiful wife and two children that support me every day. I could not be more proud of them. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2> Technical Skills </h2>
      
      <ul>
        <li> Budding Ruby on Rails developer </li>
        <li> HTML5 / CSS3 </li>
        <li> jQuery </li>
        <li> Familiar with Javascript </li>
      </ul>
    </div>
  </div>
</div>