<script src="app/assets/javascripts/portfolio.js"></script>

<div class="container">
  <div class="row">
    <div class="col-md-12">
<div class="slider has-dots">
    <ul>
        <li class="slide1">
          <h1> Dental Lab </h1>
      	</li>
        <li class="slide2">
          <h1> Bookmarks </h1>
      	</li>
        <li class="slide3">
          <h1> Threadly </h1>
      	</li>
    </ul>
</div>
    </div>
  </div>

  
  <div class="row support">
    <div class="col-md-4">
      <h2> Dental Lab </h2>
      <img src="http://i.imgur.com/wsdibgp.png" class="thumbnail responsive-img">  
      <p> A site I made for a friends dental lab. </p>
    </div>
    <div class="col-md-4">
      <h2> Threadly </h2>
      <img src="http://i.imgur.com/6CawGMY.png" class="thumbnail responsive-img"> 
      <p> Made for a class, threadly is a simple Ruby on Rails Application </p>
    </div>
    <div class="col-md-4">
      <h2> Bookmarks </h2>
      <img src="http://i.imgur.com/frXL05o.png" class="thumbnail responsive-img"> 
      <p> A simple app teaching me how to use associations </p>
    </div>
</div>