<div class="header">
	<div class="container">
		<div class="row">
			<div class="menu col-xs-8">
				<ul>
					<li><a href="#">Welcome</a></li>
					<li><a href="portfolio">Portfolio</a></li>
					<li><a href="blog">Blog</a></li>
					<li><a href="about">About</a></li>
					<li><a href="contact">Contact</a></li>
				</ul>
			</div>
			<div class="name col-xs-4">
				<h1>James Kelsey</h1>
			</div>
		</div>
	</div>
</div>

<div class="main home">
	<div class="jumbotron">
		<div class="container">
			
				<h1>Hello. My name is <span class="highlight">James Kelsey</span> and I'm learning to build creative websites</h1>
				<a href="portfolio" class="btn right">View my Work</a>
			
		</div>
	</div>
</div>

<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-8">
			
			</div>
		</div>
	</div>
</div>