.slider { position: relative; overflow: auto; }
    .slider li { list-style: none; }
        .slider ul li { float: left; min-height: 350px;}

.slide1 {
  background-image: url("http://i.imgur.com/wsdibgp.png");
  background-repeat: no-repeat;
 	text-align: center;
  width: 33%;
}

.slide1 h1 {
  margin-top: 150px;
  color: white;
  background: purple;
 
}

.slide2 {
  background-image: url("http://i.imgur.com/frXL05o.png");
  background-repeat: no-repeat;
   width: 33%;
}
.slide2 h1 {
  margin-top: 170px;
  color: white;
  background: blue;
  padding-left: 10%;
}

.slide3 {
  background-image: url("http://i.imgur.com/6CawGMY.png");
  background-repeat: no-repeat;
   width: 33%;
}
.slide3 h1 {
  margin-top: 130px;
  color: white;
  background: green;
  text-align: center;
}

.thumbnail {
  width: 100%;
  max-height: 150px;
}

.support p {
  font-weight: 100;
}

.support h2 {
  font-weight: 300;
}