.slider { position: relative; overflow: auto; text-align: center;}
    .slider li { list-style: none; }
        .slider ul li { float: left; min-height: 350px; }

.slide1 {
  background-image: url("http://i.imgur.com/wsdibgp.png");
  background-repeat: no-repeat;
 	text-align: center;
  width: 33%;
}

.slide1 h1 {
  margin-top: 150px;
  color: white;
  background: purple;
 
}

.slide2 {
  background-image: url("http://i.imgur.com/frXL05o.png");
  background-repeat: no-repeat;
   width: 33%;
}
.slide2 h1 {
  margin-top: 170px;
  color: white;
  background: blue;
  padding-left: 10%;
}

.slide3 {
  background-image: url("http://i.imgur.com/6CawGMY.png");
  background-repeat: no-repeat;
   width: 33%;
}
.slide3 h1 {
  margin-top: 130px;
  color: white;
  background: green;
  text-align: center;
}

.slider .dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
	}
.slider .dots li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 4px;
			
			text-indent: -999em;
			
			border: 2px solid #fff;
			border-radius: 6px;
			
			cursor: pointer;
			opacity: .4;
			
			-webkit-transition: background .5s, opacity .5s;
			-moz-transition: background .5s, opacity .5s;
			transition: background .5s, opacity .5s;
		}
			.slider .dots li.active {
				background: #fff;
				opacity: 1;
			}



.thumbnail {
  width: 100%;
  max-height: 150px;
}

.support p {
  font-weight: 300;
}

.support h2 {
  font-weight: 300;
}